h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: green;
}
p::selection{
    color:white;
    background-color: brown;
}
#fruit li::before{
}
#fruit li::marker{
    content: "✔️";
    color: green;
    font-size:1.2em;
}